{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Inicio</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'core/img/favicon.png'  %}" rel="icon">
    <link href="{% static 'core/img/apple-touch-icon.png'  %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">
    <link href="{% static 'core/vendor/icofont/icofont.min.css'  %}" rel="stylesheet">
    <link href="{% static 'core/vendor/boxicons/css/boxicons.min.css'  %}" rel="stylesheet">
    <link href="{% static 'core/vendor/venobox/venobox.css'  %}" rel="stylesheet">
    <link href="{% static 'core/vendor/animate.css'  %}/animate.min.css'  %}" rel="stylesheet">
    <link href="{% static 'core/vendor/remixicon/remixicon.css'  %}" rel="stylesheet">
    <link href="{% static 'core/vendor/owl.carousel/assets/owl.carousel.min.css'  %}" rel="stylesheet">
    <link href="{% static 'core/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css'  %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'core/css/style.css'  %}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Medilab - v2.0.0
  * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                <i class="icofont-envelope"></i> <a href="mailto:contact@example.com">hackdan97@gmail.com</a>
                <i class="icofont-phone"></i> +52 5611356090
                <i class="icofont-google-map"></i> Ciudad de Mexico
            </div>
            <div class="social-links">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="#" class="skype"><i class="icofont-skype"></i></a>
                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
            </div>
        </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo mr-auto"><a href="{% url 'home' %}">ISIMEDIC</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="{% static 'core/img/logo.png'  %}" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="#about">cáncer</a></li>
                    <li><a href="#services">Servicios</a></li>
                    <li><a href="{% url 'formulario' %}">Patrones</a></li>
                    <li><a href="#departments">Departamentos</a></li>
                    <li><a href="#doctors">Doctores</a></li>
                    <li><a href="#contact">Contactos</a></li>

                </ul>
            </nav><!-- .nav-menu -->

            <a href="#appointment" class="appointment-btn scrollto">Haga Una Cita</a>

        </div>
    </header><!-- End Header -->
    {% block imagen %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <h1>BIENVENIDO A ISIMEDIC</h1>
            <h2>La Ingeneria en Sistemas Inteligentes con utilidad de informar acerca del cáncer de mama</h2>
            <a href="#about" class="btn-get-started scrollto">Iniciemos...</a>
        </div>
    </section><!-- End Hero -->
    <main id="main">

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
          <div class="container">
      
            <div class="row">
              <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                  <h3>¿Qué es el cáncer de mama?</h3>
                  <p>
                    El cáncer de mama es una enfermedad en la cual las células de la mama se multiplican sin control. Existen
                    distintos tipos de cáncer de mama.
                    El tipo de cáncer de mama depende de qué células de la mama se vuelven cáncerosas.</p>
                  <div class="text-center">
                    <a href="#" class="more-btn">Aprende más... <i class="bx bx-chevron-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                  <div class="row">
                    <div class="col-xl-4 d-flex align-items-stretch">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-receipt"></i>
                        <h4>¿Cuáles son los síntomas del cáncer de mama?</h4>
                        <p>Los signos de advertencia del cáncer de mama pueden ser distintos en cada persona. Algunas personas
                          no tienen ningún tipo de signos o síntomas...</p>
                      </div>
                    </div>
                    <div class="col-xl-4 d-flex align-items-stretch">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-cube-alt"></i>
                        <h4>¿Cuáles son los factores de riesgo del cáncer de mama?</h4>
                        <p>Algunos estudios han demostrado que el riesgo de tener cáncer de mama se debe a una combinación de
                          factores...</p>
                      </div>
                    </div>
                    <div class="col-xl-4 d-flex align-items-stretch">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-images"></i>
                        <h4>¿Qué es una mamografía?</h4>
                        <p>Una mamografía es una imagen de la mama tomada con rayos X. Los médicos usan las mamografías para
                          buscar signos de cáncer de mama en sus etapas iniciales...</p>
                      </div>
                    </div>
                  </div>
                </div><!-- End .content-->
              </div>
            </div>
      
          </div>
        </section><!-- End Why Us Section -->
      
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
          <div class="container-fluid">
      
            <div class="row">
              <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
                <a href="https://www.youtube.com/watch?v=RjHLU9oLPyw" class="venobox play-btn mb-4" data-vbtype="video"
                  data-autoplay="true"></a>
              </div>
      
              <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>Descripción general</h3>
                <p>El cáncer de mama es un tipo de cáncer que se forma en las células de las mamas.
      
                  Después del cáncer de piel, el cáncer de mama es el tipo más común diagnosticado en mujeres en Estados
                  Unidos. El cáncer de mama se puede producir tanto en hombres como en mujeres; sin embargo, es mucho más
                  común en las mujeres.</p>
      
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-atom"></i></div>
                  <h4 class="title"><a href="">Carcinoma ductal infiltrante.</a></h4>
                  <p class="description">Las células cáncerosas se multiplican fuera de los conductos e invaden otras partes
                    del tejido mamario. Estas células cáncerosas invasoras también pueden diseminarse, o formar metástasis, en
                    otras partes del cuerpo.</p>
                </div>
      
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-atom"></i></div>
                  <h4 class="title"><a href="">Carcinoma lobulillar infiltrante.</a></h4>
                  <p class="description">Las células cáncerosas se diseminan de los lobulillos a los tejidos mamarios
                    cercanos. Estas células cáncerosas invasoras también pueden diseminarse a otras partes del cuerpo.</p>
                </div>
      
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-atom"></i></div>
                  <h4 class="title"><a href="">Cáncer de mama inflamatorio.</a></h4>
                  <p class="description">El cáncer inflamatorio de seno es una enfermedad poco común y muy agresiva en la que
                    las células cáncerosas bloquean los vasos linfáticos en la piel del seno. Este tipo de cáncer de seno se
                    llama "inflamatorio" porque muchas veces el seno se ve hinchado y enrojecido, o "inflamado".</p>
                </div>
      
              </div>
            </div>
      
          </div>
        </section><!-- End About Section -->
      
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
          <div class="container">
      
            <div class="row">
      
              <div class="col-lg-3 col-md-6">
                <div class="count-box">
                  <i class="icofont-doctor-alt"></i>
                  <span data-toggle="counter-up">2302</span>
                  <p>Doctoress</p>
                </div>
              </div>
      
              <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                  <i class="icofont-patient-bed"></i>
                  <span data-toggle="counter-up">1809</span>
                  <p>Departmentos</p>
                </div>
              </div>
      
              <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                  <i class="icofont-laboratory"></i>
                  <span data-toggle="counter-up">838</span>
                  <p>Laboratorios</p>
                </div>
              </div>
      
              <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                  <i class="icofont-award"></i>
                  <span data-toggle="counter-up">39</span>
                  <p>Premios</p>
                </div>
              </div>
      
            </div>
      
          </div>
        </section><!-- End Counts Section -->
      
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
          <div class="container">
      
            <div class="section-title">
              <h2>Servicios</h2>
              <p class="description">El cáncer de mama se trata de varias maneras. Esto depende del tipo de cáncer de mama y
                del grado de diseminación.
                Las personas con cáncer de mama a menudo reciben más de un tipo de tratamiento.</p>
            </div>
      
            <div class="row">
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                  <div class="icon"><i class="icofont-heart-beat"></i></div>
                  <h4><a href="">Factores de Riesgo</a></h4>
                  <p class="description">Un factor de riesgo de cáncer de mama es cualquier cosa que te hace más propensa a
                    tener cáncer de mama. Pero el hecho de tener uno o incluso varios factores de riesgo de cáncer de mama no
                    necesariamente significa que contraerás cáncer de mama. Muchas mujeres que contraen cáncer de mama no
                    presentan otros factores de riesgo que el simple hecho de ser mujer.</p>
                </div>
              </div>
      
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                  <div class="icon"><i class="icofont-drug"></i></div>
                  <h4><a href="">Medicamentos preventivos</a></h4>
                  <p class="description">Los medicamentos inhibidores del estrógeno, como los moduladores selectivos de los
                    receptores de estrógeno y los inhibidores de la aromatasa, reducen el riesgo de cáncer de mama en las
                    mujeres que presentan un riesgo alto de contraer la enfermedad.</p>
                </div>
              </div>
      
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                  <div class="icon"><i class="icofont-dna-alt-2"></i></div>
                  <h4><a href="">Cáncer de mama heredado</a></h4>
                  <p class="description">Los médicos estiman que aproximadamente entre 5 % y 10 % de los cánceres de mama se
                    relacionan con mutaciones genéticas heredadas.
                    Se han identificado muchos genes mutados heredados que pueden aumentar la posibilidad de cáncer de mama.
                    Los más conocidos son el gen del cáncer de mama 1 (BRCA1) y el gen del cáncer de mama 2 (BRCA2), que
                    aumentan significativamente el riesgo de cáncer de mama y de ovario.</p>
                </div>
              </div>
      
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                  <div class="icon"><i class="icofont-heartbeat"></i></div>
                  <h4><a href="">Causas</a></h4>
                  <p class="description">Los médicos saben que el cáncer de mama ocurre cuando algunas células mamarias
                    comienzan a crecer de manera anormal. Estas células se dividen más rápido que las células saludables y
                    continúan acumulándose, formando un bulto o masa. Las células pueden diseminarse (hacer metástasis) por la
                    mama hasta los ganglios linfáticos o a otras partes del cuerpo.</p>
                </div>
              </div>
      
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                  <div class="icon"><i class="icofont-disabled"></i></div>
                  <h4><a href="">Cirugía preventiva.</a></h4>
                  <p class="description">Las mujeres con un riesgo muy alto de tener cáncer de mama pueden optar por la
                    extirpación quirúrgica de sus mamas sanas (mastectomía profiláctica). También, por la extirpación de sus
                    ovarios sanos (ooforectomía profiláctica) para reducir el riesgo de tener cáncer de mama y de ovario.</p>
                </div>
              </div>
      
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                  <div class="icon"><i class="icofont-autism"></i></div>
                  <h4><a href="">Cuándo consultar al médico</a></h4>
                  <p class="description">Si encuentras un bulto u otro cambio en las mamas, incluso si obtuviste resultados
                    normales en una mamografía reciente, pide una consulta con el médico para que te evalúe de inmediato.</p>
                </div>
              </div>
      
            </div>
      
          </div>
        </section><!-- End Services Section -->
      
        <!-- ======= Appointment Section ======= -->
        <section id="appointment" class="appointment section-bg">
          <div class="container">
      
            <div class="section-title">
              <h2>Haga Una Cita</h2>
              <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
                in iste officiis commodi quidem hic quas.</p>
            </div>
      
            <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-4 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Su Nombre" data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Su Correo Electronico"
                    data-rule="email" data-msg="Please enter a valid email">
                  <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group">
                  <input type="tel" class="form-control" name="phone" id="phone" placeholder="Su Numero de Telefono"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4 form-group">
                  <input type="datetime" name="date" class="form-control datepicker" id="date" placeholder="Día"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group">
                  <select name="department" id="department" class="form-control">
                    <option value="">Seleccione un Departamento</option>
                    <option value="Department 1">Cardiologia</option>
                    <option value="Department 2">Neorologia</option>
                    <option value="Department 3">Pediatria</option>
                  </select>
                  <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group">
                  <select name="doctor" id="doctor" class="form-control">
                    <option value="">Seleccione el Doctor</option>
                    <option value="Doctor 1">Doctor Daniel Quiroga</option>
                    <option value="Doctor 2">Doctor Jorge Covarruvias</option>
                    <option value="Doctor 3">Doctora Sarahi Carmona</option>
                  </select>
                  <div class="validate"></div>
                </div>
              </div>
      
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Obesrvaciones..."></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Su Correo ah sido enviado con exito!</div>
              </div>
              <div class="text-center"><button type="submit">Hacer Cita</button></div>
            </form>
      
          </div>
        </section><!-- End Appointment Section -->
      
        <!-- ======= Departments Section ======= -->
        <section id="departments" class="departments">
          <div class="container">
      
            <div class="section-title">
              <h2>Departments</h2>
              <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
                in iste officiis commodi quidem hic quas.</p>
            </div>
      
            <div class="row">
              <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                  <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#tab-1">Cardiology</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-2">Neurology</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-3">Hepatology</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-4">Pediatrics</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-5">Eye Care</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                  <div class="tab-pane active show" id="tab-1">
                    <div class="row">
                      <div class="col-lg-8 details order-2 order-lg-1">
                        <h3>Cardiology</h3>
                        <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer
                          a videna mareta paulona marka</p>
                        <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa
                          odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil.
                          Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                      </div>
                      <div class="col-lg-4 text-center order-1 order-lg-2">
                        <img src="{% static 'core/img/departments-1.jpg'  %}" alt="" class="img-fluid">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab-2">
                    <div class="row">
                      <div class="col-lg-8 details order-2 order-lg-1">
                        <h3>Et blanditiis nemo veritatis excepturi</h3>
                        <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer
                          a videna mareta paulona marka</p>
                        <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est.
                          Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae
                          accusamus lerode pakto madirna desera vafle de nideran pal</p>
                      </div>
                      <div class="col-lg-4 text-center order-1 order-lg-2">
                        <img src="{% static 'core/img/departments-2.jpg'  %}" alt="" class="img-fluid">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab-3">
                    <div class="row">
                      <div class="col-lg-8 details order-2 order-lg-1">
                        <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                        <p class="font-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus
                          non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                        <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque
                          necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum
                          odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                      </div>
                      <div class="col-lg-4 text-center order-1 order-lg-2">
                        <img src="{% static 'core/img/departments-3.jpg'  %}" alt="" class="img-fluid">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab-4">
                    <div class="row">
                      <div class="col-lg-8 details order-2 order-lg-1">
                        <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                        <p class="font-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis
                          delectus</p>
                        <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam
                          fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores
                          sed qui veritatis aperiam quia a laborum inventore</p>
                      </div>
                      <div class="col-lg-4 text-center order-1 order-lg-2">
                        <img src="{% static 'core/img/departments-4.jpg'  %}" alt="" class="img-fluid">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab-5">
                    <div class="row">
                      <div class="col-lg-8 details order-2 order-lg-1">
                        <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                        <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                        <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod
                          eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae
                          voluptate vel</p>
                      </div>
                      <div class="col-lg-4 text-center order-1 order-lg-2">
                        <img src="{% static 'core/img/departments-5.jpg'  %}" alt="" class="img-fluid">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
          </div>
        </section><!-- End Departments Section -->
      
        <!-- ======= Doctors Section ======= -->
        <section id="doctors" class="doctors">
          <div class="container">
      
            <div class="section-title">
              <h2>Doctors</h2>
              <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
                in iste officiis commodi quidem hic quas.</p>
            </div>
      
            <div class="row">
      
              <div class="col-lg-6">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="{% static 'core/img/doctors/doctors-1.jpg'  %}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Walter White</h4>
                    <span>Chief Medical Officer</span>
                    <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="{% static 'core/img/doctors/doctors-2.jpg'  %}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Sarah Jhonson</h4>
                    <span>Anesthesiologist</span>
                    <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="{% static 'core/img/doctors/doctors-3.jpg'  %}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>William Anderson</h4>
                    <span>Cardiology</span>
                    <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="{% static 'core/img/doctors/doctors-4.jpg'  %}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Amanda Jepson</h4>
                    <span>Neurosurgeon</span>
                    <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
      
          </div>
        </section><!-- End Doctors Section -->
      
        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
          <div class="container">
      
            <div class="section-title">
              <h2>Frequently Asked Questions</h2>
              <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
                in iste officiis commodi quidem hic quas.</p>
            </div>
      
            <div class="faq-list">
              <ul>
                <li data-aos="fade-up">
                  <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse"
                    href="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i
                      class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                    <p>
                      Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur
                      gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                    </p>
                  </div>
                </li>
      
                <li data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2"
                    class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i
                      class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                    <p>
                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id
                      donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit
                      ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                    </p>
                  </div>
                </li>
      
                <li data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3"
                    class="collapsed">Dolor sit amet consectetur adipiscing elit? <i
                      class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                    <p>
                      Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum
                      integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt.
                      Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                    </p>
                  </div>
                </li>
      
                <li data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4"
                    class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i
                      class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                    <p>
                      Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc
                      vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus
                      gravida quis blandit turpis cursus in.
                    </p>
                  </div>
                </li>
      
                <li data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5"
                    class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem
                    dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                    <p>
                      Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada
                      nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis
                      tellus in metus vulputate eu scelerisque.
                    </p>
                  </div>
                </li>
      
              </ul>
            </div>
      
          </div>
        </section><!-- End Frequently Asked Questions Section -->
      
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
          <div class="container">
      
            <div class="owl-carousel testimonials-carousel">
      
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'core/img/testimonials/testimonials-1.jpg'  %}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                    quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
      
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'core/img/testimonials/testimonials-2.jpg'  %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                    quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
      
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'core/img/testimonials/testimonials-3.jpg'  %}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor
                    labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
      
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'core/img/testimonials/testimonials-4.jpg'  %}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim
                    dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
      
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'core/img/testimonials/testimonials-5.jpg'  %}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa
                    labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
      
            </div>
      
          </div>
        </section><!-- End Testimonials Section -->
      
        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
          <div class="container">
      
            <div class="section-title">
              <h2>Gallery</h2>
              <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
                in iste officiis commodi quidem hic quas.</p>
            </div>
          </div>
      
          <div class="container-fluid">
            <div class="row no-gutters">
      
              <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                  <a href="{% static 'core/img/gallery/gallery-1.jpg'  %}" class="venobox" data-gall="gallery-item">
                    <img src="{% static 'core/img/gallery/gallery-1.jpg'  %}" alt="" class="img-fluid">
                  </a>
                </div>
              </div>
      
              <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                  <a href="{% static 'core/img/gallery/gallery-2.jpg'  %}" class="venobox" data-gall="gallery-item">
                    <img src="{% static 'core/img/gallery/gallery-2.jpg'  %}" alt="" class="img-fluid">
                  </a>
                </div>
              </div>
      
              <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                  <a href="{% static 'core/img/gallery/gallery-3.jpg'  %}" class="venobox" data-gall="gallery-item">
                    <img src="{% static 'core/img/gallery/gallery-3.jpg'  %}" alt="" class="img-fluid">
                  </a>
                </div>
              </div>
      
              <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                  <a href="{% static 'core/img/gallery/gallery-4.jpg'  %}" class="venobox" data-gall="gallery-item">
                    <img src="{% static 'core/img/gallery/gallery-4.jpg'  %}" alt="" class="img-fluid">
                  </a>
                </div>
              </div>
      
              <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                  <a href="{% static 'core/img/gallery/gallery-5.jpg'  %}" class="venobox" data-gall="gallery-item">
                    <img src="{% static 'core/img/gallery/gallery-5.jpg'  %}" alt="" class="img-fluid">
                  </a>
                </div>
              </div>
      
              <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                  <a href="{% static 'core/img/gallery/gallery-6.jpg'  %}" class="venobox" data-gall="gallery-item">
                    <img src="{% static 'core/img/gallery/gallery-6.jpg'  %}" alt="" class="img-fluid">
                  </a>
                </div>
              </div>
      
              <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                  <a href="{% static 'core/img/gallery/gallery-7.jpg'  %}" class="venobox" data-gall="gallery-item">
                    <img src="{% static 'core/img/gallery/gallery-7.jpg'  %}" alt="" class="img-fluid">
                  </a>
                </div>
              </div>
      
              <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                  <a href="{% static 'core/img/gallery/gallery-8.jpg'  %}" class="venobox" data-gall="gallery-item">
                    <img src="{% static 'core/img/gallery/gallery-8.jpg'  %}" alt="" class="img-fluid">
                  </a>
                </div>
              </div>
      
            </div>
      
          </div>
        </section><!-- End Gallery Section -->
      
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
          <div class="container">
      
            <div class="section-title">
              <h2>Contact</h2>
              <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
                in iste officiis commodi quidem hic quas.</p>
            </div>
          </div>
      
          <div>
            <iframe style="border:0; width: 100%; height: 350px;"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
              frameborder="0" allowfullscreen></iframe>
          </div>
      
          <div class="container">
            <div class="row mt-5">
      
              <div class="col-lg-4">
                <div class="info">
                  <div class="address">
                    <i class="icofont-google-map"></i>
                    <h4>Location:</h4>
                    <p>A108 Adam Street, New York, NY 535022</p>
                  </div>
      
                  <div class="email">
                    <i class="icofont-envelope"></i>
                    <h4>Email:</h4>
                    <p>info@example.com</p>
                  </div>
      
                  <div class="phone">
                    <i class="icofont-phone"></i>
                    <h4>Call:</h4>
                    <p>+1 5589 55488 55s</p>
                  </div>
      
                </div>
      
              </div>
      
              <div class="col-lg-8 mt-5 mt-lg-0">
      
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="form-row">
                    <div class="col-md-6 form-group">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                        data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                      <div class="validate"></div>
                    </div>
                    <div class="col-md-6 form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                        data-rule="email" data-msg="Please enter a valid email" />
                      <div class="validate"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                      data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required"
                      data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validate"></div>
                  </div>
                  <div class="mb-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
      
              </div>
      
            </div>
      
          </div>
        </section><!-- End Contact Section -->
      
    </main><!-- End #main -->
    {% endblock %}

    {% block contenido %}





    {% endblock %}

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>ISIMEDIC</h3>
                        <p>
                            Ciudad<br>
                            de Mexico<br>
                            Nezahualcoyotl<br><br>
                            <strong>Telefono:</strong> +52 5515270056<br>
                            <strong>Email:</strong> hackdan97@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Usa los Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Inicio</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Otros Servicios</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.facebook.com/dquiroga777/">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.facebook.com/dquiroga777/">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.facebook.com/dquiroga777/">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.facebook.com/dquiroga777/">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://www.facebook.com/dquiroga777/">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Suscríbase</h4>
                        <p>Daniel Quiroga</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribete">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; Copyright <strong><span>ISIMEDIC</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
                    Designed by <a href="https://www.facebook.com/dquiroga777/">Daniel Quiroga</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js'  %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js'  %}"></script>
    <script src="{% static 'core/vendor/jquery.easing/jquery.easing.min.js'  %}"></script>
    <script src="{% static 'core/vendor/php-email-form/validate.js'  %}"></script>
    <script src="{% static 'core/vendor/venobox/venobox.min.js'  %}"></script>
    <script src="{% static 'core/vendor/waypoints/jquery.waypoints.min.js'  %}"></script>
    <script src="{% static 'core/vendor/counterup/counterup.min.js'  %}"></script>
    <script src="{% static 'core/vendor/owl.carousel/owl.carousel.min.js'  %}"></script>
    <script src="{% static 'core/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js'  %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'core/js/main.js'  %}"></script>

</body>

</html>